@charset "utf-8";
/*===============================
	全体
================================*/
$white: #FFF;
$purple: #7500DB;
$navy: #0E006B;
$black: #242424;
$fontColorDark: #2C1F46;

*,
*:before,
*:after{
	box-sizing: border-box;
    min-height: 0vw;
}
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-family: "ten-mincho-text", serif;
    font-weight: 400;
    font-style: normal;
    color: $white;
}

html {
    height: 100vh;
    font-size: 62.5%;
    scroll-behavior:smooth;
}

body {
    display: block;
    height: 100%;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}


/* デバイス表示・非表示 */
.pc-only {
    display: none;
}


/* 背景色 */
.bg-color1 {
    background: $purple;

    .font-color1 {
        color: $purple;
    }
}

.bg-color2 {
    background: $navy;

    .font-color2 {
        color: $navy;
    }
}

.bg-color3 {
    background: $black;

    .font-color3 {
        color: $black;
    }
}


/* 星キラキラ */
.stars {
    position: relative;
    width: 100%;
    height: auto;
    // overflow: hidden;
}

.star {
    position: absolute;
    display: block;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px rgba(#fff, 0.2);
    opacity: 0;
    animation: twinkle 5s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@media screen and (min-width:600px) {
    html {
        font-size: 70%;
    }

    /* デバイス表示・非表示 */
    .pc-only {
        display: inherit;
    }
    .sp-only {
        display: none;
    }

    /* 星キラキラ */
    .stars {  
        height: 100vh;
    }
}


/*===============================
	header
================================*/
header {
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: $white;
    z-index: 999;

    .pc-nav {
        display: none;
    }
}

/*　spナビゲーション　*/
.globalMenuPc {
    display: none;
}
.hamburger {
	display : block;
	position: fixed;
	width: 50px;
	height: 100vh;
	color: $fontColorDark;
	background-color: $white;
	text-align: center;
	writing-mode: vertical-rl;
	letter-spacing: .5em;
	z-index : 3;

    .menu {
        display: flex;
        justify-content: center;
    }
    p {
        color: $fontColorDark;
    }
}

/* スマホメニューを開いてる時のボタン */
.hamburger.active  {
	right: 0;
}

/* メニュー背景　*/
nav.globalMenuSp {
	position: fixed;
	z-index : 2;
	top  : 0;
	left : 0;
	color: $fontColorDark;
	background: $white;
	width: 100%;
	height: 100vh;
	padding-left: 20px;
	transform: translateX(-100%);
	transition: all 0.6s;

    ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;

        li {
            width: 100%;
            transition: .4s all;
        }
        a {
            color: $fontColorDark;
        }
    }
}

nav.globalMenuSp ul li a {
	display: block;
	padding: 20px 0 20px 20px;
	text-decoration :none;
}
nav.globalMenuSp li .menu {
	position: relative;
	font-size: 4rem;

    &::before {
        position: absolute;
        bottom: 6px;
        font-size: 1.5rem;
    }
}

nav.globalMenuSp li .menu1::before {
	content: 'サービス';
}
nav.globalMenuSp li .menu2::before {
	content: '制作実績';
}
nav.globalMenuSp li .menu3::before {
	content: '自己紹介';
}
nav.globalMenuSp li .menu4::before {
	content: 'お問い合わせ';
}

/* クリックでjQueryで追加・削除 */
nav.globalMenuSp.active {
	opacity: 100;
	display: block;
	transform: translateX(0%);
}


@media screen and (min-width:600px){
    header {
        width: 80px;
    }

        .hamburger, .globalMenuSp {
            display: none;
        }

        .globalMenuPc {
            display: flex;
            align-items: center;
            flex-direction: column;

            p, li {
                color: $fontColorDark;
                writing-mode: vertical-rl;
            }
            p {
                padding: 60px 0 80px;
            }
            li {
                padding: 20px 0;
            }
        }

}


/*===============================
    main
================================*/
/* main(全体) */
.main {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* section(各セクション) */
// メインビジュアル、コンセプト
.wrapper {
    width: 100vw;
    height: 100vh;
}

// その他
.container {
    margin-bottom: 96px;
    margin-left: 50px;
    margin-right: 20px;
}

/* セクションメニュー */
.section-menu {
    background-color: $white;
    margin-bottom: 40px;
    border: solid 1px $fontColorDark;

    .section-box {
        padding: 40px 10px 40px 20px;
    }

    h2, h3, li {
        color: $black;
    }

    // セクションタイトル 英文字、数字（h2）
    .title {
        position: relative;
        font-size: 4rem;
        padding-bottom: 40px;
    }
    .title::before {
        content: attr(data-number);
        display: block;
        color: $fontColorDark;
        font-size: 1.8rem;
    }
    .title::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 1px;
        background-color: $fontColorDark;
    }

    // セクション補足（h3）
    .sub-title {
        padding-bottom: 20px;
        font-size: 1.8rem;
    }

    // セクション本文（p,li）
    li, p {
        font-size: 1.4rem;
        color: $fontColorDark;;
        line-height: 2;
    }
}


// セクションコンテンツ
.section-area {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 20px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        width: 90%;
        height: 500px;
        padding: 30px 20px;
        background-color: $white;
        border: solid 1px $fontColorDark;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        text-align: center;

        h4, p {
            color: $fontColorDark;
            text-align: center;
        }
        .text {
            font-size: 1.5rem;
        }
    }
}

// 見出し（h4）
.head {
    position: relative;
    font-size: 1.8rem;
    margin: 0;
    padding: 5%;;
    text-align: center;

    span {
        position: relative;
        z-index: 2;
    }

    &::after {
        content: attr(data-en);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(124,124,124,0.2);
        font-size: 2.8rem;
        // padding: 5%;
        white-space: nowrap;
        font-family: "gastromond", sans-serif;
        font-weight: 400;
        font-style: italic;
    }
}

// スクロールバーの色変更
.section-area::-webkit-scrollbar {
    height: 7px; /* スクロールバーの高さ */
}
.section-area::-webkit-scrollbar-thumb {
    background: #d2b48c; /* ツマミの色 */
    border-radius: 3px; /* ツマミ両端の丸み */
}
.section-area::-webkit-scrollbar-track {
    background: #f5deb3; /* トラックの色 */
    border-radius: 3px; /* トラック両端の丸み */
}


@media screen and (min-width:600px) {
    .outer-wrapper {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style:none;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .horizontal {
        display: flex;
        width: 600vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    .slide{
        width: 100vw;
        height: 100vh;
    }

    /* セクションメニュー */
    .section-menu {
        display: flex; // お問い合わせボタンとの関係
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10%;
        margin-bottom: 0;
    }

    // お問い合わせボタン
    .arrow {
        width: 500px;
        margin-right: 20px;
        margin-bottom: clamp(40px, 4.79vw, 80px);
        padding: 5%;
        color: #fff;
        font-size: 2.4rem;
        -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);

        a {
            font-size: 1.8rem;
        }
    }

    .section-area { 
        
        .content {
            width: 50%;
        }
    }
}

/* ①mainVisual */
.mainVisual {
    position: relative;
    text-align: center;

    .inner {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translateY(-55%) translateX(-55%);

        p {
            font-size: 1.8rem;
        }
    }
}

@media screen and (min-width:600px){
    .mainVisual {
        margin-left: 80px;

        .inner {
            left: 50%;
        }
    }
}


/* ②concept */
.concept {
    margin-left: 50px;

    .inner {
        padding-left: 20px;
        p {
            font-size: 1.8rem;
            padding-bottom: 30px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.BrightAnime span {
    opacity: 0;
}
.BrightAnime.glow span {
    animation:glow_anime_on 1s ease-out forwards;
}
    
@keyframes glow_anime_on{
    0% { opacity:0; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
    50% { opacity:1;text-shadow: 0 0 10px #fff,0 0 15px #fff; }
    100% { opacity:1; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
}


@media screen and (min-width:600px){
    .concept {
        position: relative;
        margin-left: 80px;

    .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
}


/* ③SERVICE */
// セクションコンテンツ
.service {
    img {
        max-width: 150px;
    }
}

@media screen and (min-width:600px){
    .service {
        display: flex;

        // セクションコンテンツ
        .contents-wrap {
            gap: 80px;
            overflow-x: auto;
        }
    }
}


/* ④WORKS */
.works {
    // セクションコンテンツ
    .content {
        height: 400px;

        p {
            text-align: left;
        }
        img {
            width: 100%;
        }
    }
}

@media screen and (min-width:600px){
    .works {
        display: flex;
    }
}


/* ④ABOUT */
.about {
    // セクションコンテンツ
    .section-area {
        display: block;

        .content {
            display: block;
            width: 100%;
            height: auto;
            padding-right: 0;
            background-color: transparent;
            border: none;
            
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            p {
                color: $white;
                text-align: left;
            }
            .head {
                font-size: 1.4rem;
                color: $white;
                text-align: center;
            }
            .text {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width:600px){
    .about {
        display: flex;

        // セクションコンテンツ
        .section-area {
            display: flex;

        }
    }
}


/* ⑤CONTACT */
.contact {

    .Form {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
    }

    .Form-Item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding-left: 20px;
        padding-bottom: 18px;
    }

    .Form-Item-Label {
        display: flex;
        align-items: center;
        width: 100%;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-size: 1.6rem;
    }

    .Form-Item-Label.isMsg {
        margin-top: 0;
    }

    .Form-Item-Label-Required {
        border-radius: 13px;
        margin-left: 40px;
        width: 50px;
        display: inline-block;
        text-align: center;
        background: #CC1E14;
        color: $white;
        font-size: 1rem;
    }

    .Form-Item-Input {
        flex: 1;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        padding: 0 1em;
        background-color: $white;
        font-size: 1.2rem;
        border: 1px solid $white;
    }

    .Form-Item-Textarea {
        flex: 1;
        width: 100%;
        height: 200px;
        margin-top: 8px;
        padding: 0 1em;
        background: $white;
        font-size: 1.2rem;
        border: 1px solid $white;
    }

    .Form-Btn {
        margin: 20px auto 0;
        padding: 11px 0;
        width: 270px;
        display: block;
        background: $white;
        color: $fontColorDark;
        font-size: 1.6rem;
    }
}

@media screen and (min-width:600px){
    .contact {
        display: flex;

        // セクションコンテンツ
        .contents-wrap {
            gap: 80px;
            overflow-x: auto;
        }
    }
}



/*===============================
    footer
================================*/
footer {
    background-color: $white;

    p {
        padding: 8px 20px 8px 0;
        text-align: right;
        color: $fontColorDark;
    }
}

@media screen and (min-width:600px){
    footer {
        position: absolute;
        right: 0;
        width: 60px;
        height: 100vh;
        z-index: 999;
        writing-mode: vertical-rl;
    }
}



// svgアニメーション
h1 {
    padding-top: 50%;
    padding-left: 50px;
}
@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 378.3876647949219px;
        stroke-dasharray: 378.3876647949219px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 378.3876647949219px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 378.3876647949219px;
        stroke-dasharray: 378.3876647949219px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 378.3876647949219px;
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
            animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 349.8145751953125px;
        stroke-dasharray: 349.8145751953125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 349.8145751953125px;
    }
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 349.8145751953125px;
        stroke-dasharray: 349.8145751953125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 349.8145751953125px;
    }
}

.svg-elem-2 {
    -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
            animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 479.64227294921875px;
        stroke-dasharray: 479.64227294921875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 479.64227294921875px;
    }
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 479.64227294921875px;
        stroke-dasharray: 479.64227294921875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 479.64227294921875px;
    }
}

.svg-elem-3 {
    -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both;
            animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 409.0916442871094px;
        stroke-dasharray: 409.0916442871094px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 409.0916442871094px;
    }
}

@keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 409.0916442871094px;
        stroke-dasharray: 409.0916442871094px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 409.0916442871094px;
    }
}

.svg-elem-4 {
    -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
            animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 240.1176300048828px;
        stroke-dasharray: 240.1176300048828px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 240.1176300048828px;
    }
}

@keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 240.1176300048828px;
        stroke-dasharray: 240.1176300048828px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 240.1176300048828px;
    }
}

.svg-elem-5 {
    -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
            animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 294.996826171875px;
        stroke-dasharray: 294.996826171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 294.996826171875px;
    }
}

@keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 294.996826171875px;
        stroke-dasharray: 294.996826171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 294.996826171875px;
    }
}

.svg-elem-6 {
    -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
            animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 306.799560546875px;
        stroke-dasharray: 306.799560546875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 306.799560546875px;
    }
}

@keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 306.799560546875px;
        stroke-dasharray: 306.799560546875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 306.799560546875px;
    }
}

.svg-elem-7 {
    -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both;
            animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 228.32110595703125px;
        stroke-dasharray: 228.32110595703125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 228.32110595703125px;
    }
}

@keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 228.32110595703125px;
        stroke-dasharray: 228.32110595703125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 228.32110595703125px;
    }
}

.svg-elem-8 {
    -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both;
            animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 501.6007385253906px;
        stroke-dasharray: 501.6007385253906px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 501.6007385253906px;
    }
}

@keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 501.6007385253906px;
        stroke-dasharray: 501.6007385253906px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 501.6007385253906px;
    }
}

.svg-elem-9 {
    -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both;
            animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 440.3573303222656px;
        stroke-dasharray: 440.3573303222656px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 440.3573303222656px;
    }
}

@keyframes animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 440.3573303222656px;
        stroke-dasharray: 440.3573303222656px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 440.3573303222656px;
    }
}

.svg-elem-10 {
    -webkit-animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both;
            animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both;
}


.line {
    position:relative;
    color:$white;
    padding: 10px 0;
    display:inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.line::before {
    content: "";
    position: absolute;
    bottom: 25px;
    /*線の形状*/
    width: 100%;
    height: 1px;
    background: $white;
}


/*線と矢印を繰り返しアニメーション*/
.line::before {
    animation: arrowlong01 5s ease infinite;
}
.line::after {
    animation: arrowlong02 5s ease infinite;
}

@keyframes arrowlong01{
    0%{width:0;opacity:0}
    20%{width:0;opacity:1}
    80%{width:105%;opacity:1}
    100%{width:105%;opacity:0}
}

@keyframes arrowlong02{
    0%{left:0;opacity:0}
    20%{left:0;opacity:1}
    80%{left:103%;opacity:1}
    100%{left:103%;opacity:0}
}


  .l {
      align-items: center;
      display: flex;
      margin-bottom: 4px;
  }
  .li {
      background: radial-gradient(#fff 10%, transparent 30%) center/ 7px 7px;
      background: -ms-radial-gradient(rgba(#fff, 0.2) 10%, transparent 30%) center/ 7px 7px;
      content: '';
      display: flex;
      flex: 1 1 auto;
      height: 7px;
      margin: 0 10px;
  }
  hr {
      padding: 0;
      border: 0;
      outline: 0;
  }
  .time {
      text-align: right;
  }


@media screen and (min-width:600px){
    // svgアニメーション
    h1 {
        padding-top: 10%;
        padding-left: 0;
    }
}
