@charset "utf-8";
/* cssリセット */
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
p {
    margin: 30px 0;
    text-align: center;
}

/* フレックスボックス */
.wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto 100px;
}
.wrap>div {
    width: 31.25%;
    height: 300px;
    text-align: center;
    line-height: 300px;
}

/* 青い四角形 */
.Blue-box {
    background-color: blue;
}

/* 赤い四角形 */
.Red-box {
    background-color: red;
    margin-bottom: 20px;
}