@charset "utf-8";

/*===============================
	リセット
================================*/

*,
*:before,
*:after{
	box-sizing: border-box;
    min-height: 0vw;
}

html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-family: "ten-mincho-text", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
}

html {
    height: 100vh;
    font-size: 62.5%;
    scroll-behavior:smooth;
}

body {
    display: none;
    height: 100%;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
