@charset "UTF-8";
/*===============================
	リセット
================================*/
*,
*:before,
*:after {
  box-sizing: border-box;
  min-height: 0vw;
}

html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-family: "ten-mincho-text", serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}

html {
  height: 100vh;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: none;
  height: 100%;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/*===============================
	共通スタイル
================================*/
/* デバイス表示・非表示 */
.pc-only {
  display: none;
}

/* 背景色 */
.bg-color1 {
  background: #7500DB;
}
.bg-color1 .font-color1 {
  color: #7500DB;
}
.bg-color1 .icon-color1 {
  color: #7500DB;
}
.bg-color1 .icon-color2 {
  display: none;
}
.bg-color1 .icon-color3 {
  display: none;
}

.bg-color2 {
  background: #0E006B;
}
.bg-color2 .font-color2 {
  color: #0E006B;
}
.bg-color2 .icon-color2 {
  color: #0E006B;
}
.bg-color2 .icon-color1 {
  display: none;
}
.bg-color2 .icon-color3 {
  display: none;
}

.bg-color3 {
  background: #242424;
}
.bg-color3 .font-color3 {
  color: #242424;
}
.bg-color3 .icon-color3 {
  color: #242424;
}
.bg-color3 .icon-color2 {
  display: none;
}
.bg-color3 .icon-color1 {
  display: none;
}

/* 星キラキラ */
.stars {
  position: relative;
  width: 100%;
  height: auto;
}

.star {
  position: absolute;
  display: block;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.2);
  opacity: 0;
  animation: twinkle 5s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 80%;
  }
  /* デバイス表示・非表示 */
  .pc-only {
    display: inherit;
  }
  .sp-only {
    display: none;
  }
  /* 星キラキラ */
  .stars {
    height: 100vh;
  }
}
/*===============================
	header
================================*/
.header {
  position: fixed;
  width: 50px;
  height: 100vh;
  background-color: #FFF;
  z-index: 999;
}
.header .pc-nav {
  display: none;
}

/*　spナビゲーション　*/
.globalMenuPc {
  display: none;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 100vh;
  color: #2C1F46;
  background-color: #FFF;
  text-align: center;
  writing-mode: vertical-rl;
  letter-spacing: 0.5em;
  z-index: 3;
}
.hamburger .menu {
  display: flex;
  justify-content: center;
}
.hamburger p {
  color: #2C1F46;
}

/* スマホメニューを開いてる時のボタン */
.hamburger.active {
  right: 30px;
}

/* メニュー背景　*/
nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #2C1F46;
  background: #FFF;
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  transform: translateX(-100%);
  transition: all 0.6s;
}
nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
nav.globalMenuSp ul li {
  width: 100%;
  transition: 0.4s all;
}
nav.globalMenuSp ul a {
  color: #2C1F46;
}

nav.globalMenuSp ul li a {
  display: block;
  padding: 20px 50px 20px 20px;
  text-decoration: none;
}

nav.globalMenuSp li .menu {
  position: relative;
  font-size: 4rem;
}
nav.globalMenuSp li .menu::before {
  position: absolute;
  bottom: 6px;
  font-size: 1.5rem;
}

nav.globalMenuSp li .menu1::before {
  content: "サービス";
}

nav.globalMenuSp li .menu2::before {
  content: "制作実績";
}

nav.globalMenuSp li .menu3::before {
  content: "自己紹介";
}

nav.globalMenuSp li .menu4::before {
  content: "お問い合わせ";
}

/* クリックでjQueryで追加・削除 */
nav.globalMenuSp.active {
  opacity: 100;
  display: block;
  transform: translateX(0%);
}

@media screen and (min-width: 960px) {
  .works-wrap .header, .works-wrap .hamburger, .works-wrap .globalMenuSp {
    display: none;
  }
}
/*===============================
    main
================================*/
/* main(全体) */
.main {
  width: 100vw;
  height: auto;
}

.information {
  margin-bottom: 80px;
}
.information .btn-wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.information .works-btn {
  position: relative;
  width: 250px;
  padding: 20px;
  text-align: center;
  background-color: #FFF;
  color: #2C1F46;
  overflow: hidden;
}
.information a.works-btn:before {
  position: absolute;
  top: 0;
  left: calc(-150% + 50px);
  width: 140%;
  height: 500%;
  content: "";
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg) translateX(0) translateY(0);
  background: #2C1F46;
}
.information a.works-btn:after {
  position: absolute;
  top: -400%;
  right: calc(-150% + 50px);
  width: 140%;
  height: 500%;
  content: "";
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg) translateX(0) translateY(0);
  background: #2C1F46;
}

.spacer {
  margin-top: 40px;
}

@media screen and (min-width: 600px) {
  .slide {
    width: 100vw;
    height: 100vh;
  }
  .section-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    margin-bottom: 0;
    background-color: #FFF;
    border: solid 1px #2C1F46;
  }
  .section-menu .section-box {
    padding: 40px 10px 40px 20px;
  }
  .section-menu .section-box li {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 6px;
    border-bottom: solid 1px #2C1F46;
  }
  .section-menu .section-box .angle-right::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color: #afafaf;
    font-style: normal;
  }
  .section-menu h2, .section-menu h3, .section-menu li {
    color: #2C1F46;
  }
  .section-menu .title {
    position: relative;
    font-size: 4rem;
    padding-bottom: 40px;
  }
  .section-menu .title::before {
    content: attr(data-number);
    display: block;
    color: #2C1F46;
    font-size: 1.8rem;
  }
  .section-menu .title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #2C1F46;
  }
  .section-menu .sub-title {
    padding-bottom: 20px;
    font-size: 1.8rem;
  }
  .section-menu li, .section-menu p {
    font-size: 1.4rem;
    color: #2C1F46;
    line-height: 2;
  }
  .section-menu .arrow {
    display: inherit;
    width: 400px;
    margin-bottom: 5%;
    padding: 5%;
    color: #fff;
    font-size: 1.6rem;
  }
  .section-menu .arrow-left {
    margin-right: 20px;
    -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
  }
  .section-menu .arrow-right {
    margin-left: 26px;
    padding-left: 60%;
    text-align: right;
    -webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 12% 100%, 5% 50%);
            clip-path: polygon(12% 0, 100% 0%, 100% 100%, 12% 100%, 5% 50%);
  }
  .section-area .content {
    width: 50%;
  }
  .information a.works-btn:before {
    width: 160%;
  }
  .information a.works-btn:after {
    width: 160%;
  }
  .information a.works-btn:hover:before {
    transform: rotate(45deg) translateX(0) translateY(-50%);
  }
  .information a.works-btn:hover:after {
    transform: rotate(45deg) translateX(0) translateY(50%);
  }
}
/*===============================
    footer
================================*/
footer {
  background-color: #FFF;
}
footer p {
  padding: 8px 20px 8px 0;
  text-align: right;
  color: #2C1F46;
}

/*===============================
    下層-works一覧
================================*/
.works-wrap .container h2 {
  margin-left: 70px;
  padding: 40px 0;
  font-size: 2.4rem;
  color: #FFF;
  text-align: center;
}
.works-wrap .inner {
  margin: 0px 20px 20px 70px;
  padding-bottom: 40px;
  background-color: #FFF;
}
.works-wrap .tabs-menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}
.works-wrap .tabs-menu-item {
  width: 33%;
  height: 50px;
  font-size: 1.3rem;
  line-height: 50px;
  color: #2C1F46;
  background-color: #FFF;
  text-align: center;
  border-bottom: 3px solid rgb(221, 221, 221);
}
.works-wrap .tabs-menu-item.is-active {
  background-color: #2C1F46;
  color: #FFF;
}
.works-wrap .tabs-contain {
  background-color: #FFF;
}
.works-wrap .tabs-body {
  display: none;
  color: #FFF;
}
.works-wrap .tabs-body img {
  width: 100%;
}
.works-wrap .tabs-body.is-active {
  display: block;
}

@media screen and (min-width: 960px) {
  .works-wrap .container {
    width: 60%;
    max-width: 960px;
    margin: 0 auto;
  }
  .works-wrap .container h2 {
    margin-left: 0;
  }
  .works-wrap .inner {
    margin: 0;
  }
  .works-wrap .tabs-body.is-active {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .works-wrap .tabs-body.is-active a {
    width: 48%;
  }
}
/*===============================
    下層-works単品
================================*/
.works-wrap .works {
  margin: 0 auto;
}
.works-wrap .section-menu {
  display: none;
}
.works-wrap .works-container {
  margin: 0 20px 20px 70px;
}
.works-wrap .introduction {
  text-align: center;
}
.works-wrap .introduction .img {
  background-color: #FFF;
}
.works-wrap .introduction .detail {
  padding: 30px 20px;
  background-color: #FFF;
  text-align: left;
}
.works-wrap .introduction .detail h2, .works-wrap .introduction .detail p, .works-wrap .introduction .detail dt, .works-wrap .introduction .detail dd {
  color: #2C1F46;
}
.works-wrap .introduction .detail dl {
  margin: 30px 0;
}
.works-wrap .introduction .detail dt {
  font-size: 1.5rem;
}
.works-wrap .introduction .detail dd {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 1.5rem;
  border-bottom: solid 1px #2C1F46;
}
.works-wrap .introduction .secondary {
  height: 400px;
  padding: 20px;
  background-color: #FFF;
  overflow: scroll;
}
.works-wrap .introduction img {
  padding-bottom: 20px;
}
.works-wrap .group {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.works-wrap .group .item {
  width: 100%;
  height: 140px;
  background-color: #FFF;
}

@media screen and (min-width: 960px) {
  .works-wrap .main {
    display: flex;
  }
  .works-wrap .section-menu {
    display: inherit;
    position: sticky;
    top: 0;
    height: 100vh;
    margin-right: 0;
  }
  .works-wrap .works-container {
    max-width: 960px;
    margin: 20px 70px;
  }
  .works-wrap .introduction .detail {
    padding: 60px 80px;
  }
  .works-wrap .introduction .detail dl {
    display: flex;
    flex-wrap: wrap;
  }
  .works-wrap .introduction .detail dt {
    width: 30%;
    margin-bottom: 30px;
    border-bottom: solid 1px #2C1F46;
  }
  .works-wrap .introduction .detail dd {
    width: 70%;
    margin-bottom: 30px;
  }
  .works-wrap .introduction .secondary {
    height: 800px;
  }
  .works-wrap .information {
    margin-bottom: 128px;
  }
  .works-wrap .spacer {
    margin-top: 96px;
  }
}/*# sourceMappingURL=works-style.css.map */